@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.text-gradient {
  @apply text-transparent bg-clip-text bg-gradient-to-r from-blue-400 to-blue-500;
}

.btn-blue {
  @apply flex items-center justify-center font-semibold rounded-md bg-gradient-to-r from-blue-400 to-blue-500 w-52 h-11 2xl:w-60 2xl:h-12;
}
.btn-blue:hover {
  @apply flex items-center justify-center text-blue-500 font-semibold rounded-md bg-gradient-to-r from-blue-50 to-blue-50;
}
.btn-red {
  @apply flex items-center justify-center font-semibold rounded-md bg-gradient-to-r from-red-400 to-red-500 w-52 h-11 2xl:w-60 2xl:h-12;
}
.btn-red:hover {
  @apply flex items-center justify-center text-red-500 font-semibold rounded-md bg-gradient-to-r from-red-50 to-red-50;
}
.home-title {
  @apply text-white text-4xl 2xl:text-5xl font-bold;
}

@layer base {
  body {
    font-family: 'Josefin Sans', sans-serif;
  }
}

@layer utilities {
  .text-500 {
    font-size: 400px;
    font-weight: 900;
  }
  .h-637 {
    min-height: 637px;
  }
  .h-417 {
    min-height: 417px;
  }
  .bg-text {
    background: url('./assets/img/NEARPromises.png') no-repeat;
    background-position: 10% 0;
  }
  .bg-form {
    background: rgba(0, 0, 0, 0.63);
  }
  .triangle-4 {
    background: url('./assets/img/triangle4.png') no-repeat;
    /* background-size: contain; */
    background-position: 0 100%;
  }
  .section-shadow {
    box-shadow: 0px 30px 100px rgba(0, 0, 0, 0.35);
  }
  .left-bg {
    background: url('./assets/img/Downabs.png') no-repeat;
    background-position: 0 100%;
  }
  .alert {
    width: 279px;
  }
  @screen md {
    .alert {
      width: 488px;
    }
  }
  .bg-50 {
    background-color: rgba(0, 0, 0, 0.7);
  }
  @screen md {
    .creation-bg {
      background: url('./assets/img/ABS(1).png') no-repeat;
      background-position: 100% 0;
      background-size: contain;
    }
    .editor-bg {
      background: url('./assets/img/ABS(2).png') no-repeat;
      background-position: 100% 0;
      background-size: contain;
    }
    .confirmation-bg {
      background: url('./assets/img/ABS(3).png') no-repeat;
      background-position: 100% 0;
      background-size: contain;
    }
  }
}
